*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dotted red; */
}

:root {
  --clr-tomato-red: hsl(4, 100%, 67%);
  --clr-very-light-red: hsla(4, 100%, 67%, 0.15);
  --clr-tomato-red-blur: hsla(4, 100%, 67%, 0.4);
  --clr-dark-slate-grey: hsl(234, 29%, 20%);
  --clr-charcoal-grey: hsl(235, 18%, 26%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-grey-dimmed: hsla(231, 7%, 60%, 0.4);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  position: relative;
  width: auto;
  min-height: 100vh;
  background-color: var(--clr-charcoal-grey);
  color: var(--clr-dark-slate-grey);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ===== default: MOBILE STYLING ===== */

main.container {
  width: 375px;
  margin: 0 auto;
  background-color: var(--clr-white);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  img.main-image {
    content: url('./assets/images/illustration-sign-up-mobile.svg');
    width: 375px;
    height: 284px;
    object-fit: cover;
  }

  div.main-content {
    width: 327px;
    height: 100%;
    margin: 2em auto;

    /* -- Title & Text -- */
    h1.main-title {
      font-size: 4rem;
      color: var(--clr-dark-slate-grey);
    }

    p.main-text {
      margin-top: 1.35em;
    }

    /* -- Updates List -- */
    ul.main-list {
      margin: 1.25em auto;
      list-style-type: none;

      li {
        margin-bottom: 1em;
        display: flex;
        align-items: flex-start;
        gap: 1em;

        &::before {
          content: url('./assets/images/icon-list.svg');
          align-self: start;
          margin-top: 0.2em;
        }
      }
    }

    /* -- NewsLetter Form -- */
    form.newsletter-form {
      margin-top: 3.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      div.label-and-error-message {
        display: flex;
        justify-content: space-between;
        font-size: small;
        font-weight: 700;

        label.email-label {
          color: var(--clr-black);
        }

        p.form-error-msg {
          color: var(--clr-tomato-red);
        }
      }

      /* Input Fields */
      input.form-input {
        height: 5.6rem;
        padding-left: 1.75em;
        border-radius: 8px;
        border: 1px solid var(--clr-grey-dimmed);
        color: var(--clr-dark-slate-grey);
        font-size: inherit;
        cursor: pointer;

        &:focus {
          outline: none;
          border: 1px solid var(--clr-charcoal-grey);
        }
      }

      /* Input Errors (class added/removed by JS) */
      .input-error {
        border: 1px solid var(--clr-tomato-red) !important;
        background-color: var(--clr-very-light-red);
        color: var(--clr-tomato-red) !important;
      }

      /* Submit Button */
      button.submit-form {
        height: 5.6rem;
        margin-top: 1em;
        border: none;
        border-radius: 8px;
        background-color: var(--clr-dark-slate-grey);
        color: var(--clr-white);
        font-size: inherit;
        cursor: pointer;

        &:hover {
          background-color: var(--clr-tomato-red);
        }

        &:active {
          box-shadow: 0 10px 20px 0 var(--clr-tomato-red-blur);
          transform: translateY(2px);
        }
      }
    }
  }
}

/* -- Mobile Confirmation Modal -- */
dialog.confirmation-modal {
  position: fixed;
  top: 0;
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  padding-left: calc((375px - 327px) / 2);
  padding-top: 15rem;
  border: none;
  background-color: var(--clr-white);
  z-index: 100;

  /* Mobile Confirmation Message */
  div.confirmation-message {
    width: 327px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2em;

    img.success-icon {
      width: 64px;
      height: 64px;
    }

    h2.confirmation-title {
      margin-top: 0.15em;
      margin-bottom: -0.15em;
      color: var(--clr-dark-slate-grey);
      font-size: 4rem;
      line-height: 1;
    }

    p.confirmation-text {
      color: var(--clr-dark-slate-grey);
      font-size: 1.6rem;
    }
  }

  /* Close Modal Button */
  button.close-modal {
    width: 327px;
    height: 5.6rem;
    margin: 5em auto 2em auto;
    border: none;
    border-radius: 8px;
    background-color: var(--clr-dark-slate-grey);
    color: var(--clr-white);
    font-size: inherit;
    cursor: pointer;

    &:hover {
      background-color: var(--clr-tomato-red);
    }

    &:active {
      box-shadow: 0 10px 20px 0 var(--clr-tomato-red-blur);
      transform: translateY(2px);
    }
  }
}

/* -- Attribution -- */
footer.attribution {
  margin: 1em;
  color: var(--clr-white);
  font-size: 1.4rem;
  font-style: italic;
  text-align: center;

  a {
    color: var(--clr-tomato-red);
    font-weight: 700;
    font-size: 1.5rem;
  }
}

/* ===== media: DESKTOP STYLING ===== */

@media (min-width: 930px) {
  main.container {
    width: 928px;
    height: 641px;
    padding-right: 1.55em;
    border-radius: 36px;

    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    img.main-image {
      content: url('./assets/images/illustration-sign-up-desktop.svg');
      width: 400px;
      height: 593px;
      object-fit: cover;
    }

    div.main-content {
      width: 376px;
      height: 472px;

      h1.main-title {
        font-size: 5.5rem;
      }

      p.main-text {
        margin-top: 0.6em;
      }

      ul.main-list {
        li {
          margin-bottom: 0.25em;
        }
      }
    }
  }

  /* -- Desktop Confirmation Modal -- */
  dialog.confirmation-modal {
    top: calc(0.5 * (100vh - 520px));
    left: -350px;
    width: 504px;
    height: 520px;
    padding: 64px;
    border: 1px solid var(--clr-grey-dimmed);
    border-radius: 36px;

    /* Desktop Confirmation Message */
    div.confirmation-message {
      width: 376px;

      h2.confirmation-title {
        font-size: 5.5rem;
      }
    }

    /* Close Modal Button */
    button.close-modal {
      width: 376px;
      margin: 2em auto;
    }
  }
}
